@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', 'Amaranth', sans-serif;
  background: #C3E0CC;
}
